<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8" />
    <title>SimpliQ - Flat & Responsive Bootstrap Admin Template</title>
    <meta name="description" content="SimpliQ - Flat & Responsive Bootstrap Admin Template." />
    <meta name="author" content="Łukasz Holeczek" />
    <meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href="/Scripts/css/travel-seat.css" rel="stylesheet" />
    <link href="/Scripts/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="/Scripts/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Scripts/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/Scripts/css/style.min.css" rel="stylesheet" />
    <link href="/Scripts/css/style-responsive.min.css" rel="stylesheet" />
    <link href="/Scripts/css/retina.css" rel="stylesheet" />
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon and Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Scripts/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Scripts/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Scripts/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="/Scripts/ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="/Scripts/ico/favicon.png" />
    <!-- end: Favicon and Touch Icons -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a id="main-menu-toggle" class="hidden-phone open"><i class="icon-reorder"></i></a>
                <div class="row-fluid">
                    <a class="brand span2" href="index.html"><span>SimpliQ</span></a>
                </div>
                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
                                <div class="user">
                                    <span class="hello">Welcome!</span>
                                    <span class="managerName"></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">

                                </li>
                                <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                                <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                                <li><a href="#"><i class="icon-envelope"></i> Messages</a></li>
                                <li><a href="login.html"><i class="icon-off"></i> Logout</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span2">

                <div class="row-fluid actions">

                    <input type="text" class="search span12" placeholder="..." />

                </div>

                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li>
                            <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 後台人員管理 </span> <span class="label">4</span></a>
                            <ul>
                                <li><a class="submenu" href="Staff"><i class="icon-hdd"></i><span class="hidden-tablet"> 帳號管理 </span></a></li>
                                <li><a class="submenu" href="Group"><i class="icon-envelope"></i><span class="hidden-tablet"> 群組管理 </span></a></li>
                                <li><a class="submenu" href="Permission"><i class="icon-tasks"></i><span class="hidden-tablet"> 權限管理 </span></a></li>
                                <li><a class="submenu" href="Log"><i class="icon-tasks"></i><span class="hidden-tablet"> 異動日誌 </span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 最新消息管理 </span> <span class="label">3</span></a>
                            <ul>
                                <li><a class="submenu" href="IndexBanner"><i class="icon-hdd"></i><span class="hidden-tablet"> 首頁Banner管理 </span></a></li>
                                <li><a class="submenu" href="LatestNews"><i class="icon-hdd"></i><span class="hidden-tablet"> 公告管理 </span></a></li>
                                <li><a class="submenu" href="LatestMediaNews"><i class="icon-hdd"></i><span class="hidden-tablet"> 媒體消息管理 </span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 地點管理 </span> <span class="label">2</span></a>
                            <ul>
                                <li><a class="submenu" href="Location"><i class="icon-hdd"></i><span class="hidden-tablet"> 地點管理 </span></a></li>
                                <li><a class="submenu" href="Boarding"><i class="icon-hdd"></i><span class="hidden-tablet"> 上車地點管理 </span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 行程管理 </span> <span class="label">3</span></a>
                            <ul>
                                <li><a class="submenu" href="Viewpoint"><i class="icon-hdd"></i><span class="hidden-tablet"> 景點管理 </span></a></li>
                                <li><a class="submenu" href="Hotel"><i class="icon-hdd"></i><span class="hidden-tablet"> 飯店管理 </span></a></li>
                                <li><a class="submenu" href="Travel"><i class="icon-hdd"></i><span class="hidden-tablet"> 行程管理 </span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 遊覽車訂位管理 </span> <span class="label">2</span></a>
                            <ul>
                                <li><a class="submenu" href="Transportation"><i class="icon-hdd"></i><span class="hidden-tablet"> 遊覽車管理 </span></a></li>
                                <li><a class="submenu" href="TransportTravel"><i class="icon-hdd"></i><span class="hidden-tablet"> 遊覽車行程管理 </span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 會員管理 </span> <span class="label">2</span></a>
                            <ul>
                                <li><a class="submenu" href="Member"><i class="icon-hdd"></i><span class="hidden-tablet"> 會員管理 </span></a></li>
                                <li><a class="submenu" href="Reservation"><i class="icon-hdd"></i><span class="hidden-tablet"> 訂位管理 </span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->
            <!-- start: Content -->
            <div id="content" class="span10">
                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header" data-original-title="">
                            <h2><i class="icon-user"></i><span class="break">行程管理</span><span class="break">></span><span class="page_name">行程明細</span></h2>
                            <div class="box-icon">
                                <a class="btn-setting" id="uploadBatchMemberReservation"><i class="icon-cloud-upload"></i></a>
                            </div>
                        </div>
                        <div class="box-content-travel-info">
                            <div class="item">
                                <span class="label">旅遊行程代號</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="travelCode"></span>
                            </div>
                            <div class="item">
                                <span class="label">旅遊行程標題</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="travelName"></span>
                            </div>
                            <div class="item">
                                <span class="label">旅遊行程內容</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="travelContent"></span>
                            </div>
                            <div class="item">
                                <span class="label">旅遊行程費用</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="travelCost"></span>
                            </div>
                            <div class="item">
                                <span class="label">旅遊行程人數上限</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="travelNum"></span>
                            </div>
                            <div class="item">
                                <span class="label">旅遊行程梯次總數</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="travelStepCount"></span>
                            </div>
                            <div class="item">
                                <span class="label">出團日期</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="travelDetailSdate"></span>
                            </div>
                            <div class="item">
                                <span class="label">交通費用說明</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="transportationInfo"></span>
                            </div>
                            <div class="item">
                                <span class="label">吃飯費用說明</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="eatInfo"></span>
                            </div>
                            <div class="item">
                                <span class="label">住宿費用說明</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="liveInfo"></span>
                            </div>
                            <div class="item">
                                <span class="label">保險費用說明</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="insuranceInfo"></span>
                            </div>
                            <div class="item">
                                <span class="label">行費用說明</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="actionInfo"></span>
                            </div>
                            <div class="item">
                                <span class="label">其餘費用說明</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="nearInfo"></span>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>行程梯次</th>
                                        <th>行程時間</th>
                                        <th>行程總人數</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="travelDetailList">
                                </tbody>
                            </table>
                        </div>
                    </div><!--/span-->

                </div><!--/row-->
            </div>
            <!-- end: Content -->

        </div><!--/fluid-row-->


        <div class="modal hide fade" id="checkCancelMemberResrvationModal" aria-hidden="true" style="display:none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="closeCheckCancelMemberReservation">×</button>
                <h3>是否取消訂位</h3>
            </div>
            <div class="lowin-group">
                <label>名字</label>
                <input type="text" name="reservationName" class="cancelReservationName">
            </div>
            <div class="lowin-group">
                <label>位置</label>
                <input type="text" name="seatName" class="cancelSeatName">
            </div>
            <input type="hidden" name="seatId" class="cancelSeatId">
            <input type="hidden" name="travelStepId" class="cancelTravelStepId">
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal" id="closeCheckCancelMemberReservation">取消</a>
                <a class="btn btn-primary" id="cancelMemberReservation">確定取消訂位</a>
            </div>
        </div>


        <div class="modal hide fade" id="uploadBatchMemberReservationModal" aria-hidden="true" style="display:none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="closeBatchMemberReservationUpload">×</button>
                <h3>Excel定位批次上傳</h3>
            </div>
            <div class="modal-body">
                <div class="lowin-group">
                    <label>上傳Excel</label>
                    <input type="file" name="batchTravelFile" class="uploadBatchMemberReservationFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal" id="closeBatchMemberReservationUpload">取消上傳</a>
                <a class="btn btn-primary" id="uploadBatchMemberReservation">上傳</a>
            </div>
        </div>


        <div class="modal hide fade" id="travelSeatInfoModal" aria-hidden="true" style="display:none;">
            <div class="modal-header">
                <a class="btn" data-dismiss="modal" id="closeTravelSeatInfo">關閉</a>
                <a class="btn" data-dismiss="modal" id="downloadTravelSeatInfo">下載</a>
                <h3>行程座位資訊</h3>
            </div>
            <div class="multiple_day_travel_list_box clearfix">
            </div>
        </div>
        <canvas width="320" height="300"></canvas>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <!-- start: JavaScript-->
    <!-- Automatically provides/replaces `Promise` if missing or broken. -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>

    <!-- Minified version of `es6-promise-auto` below. -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/Scripts/js/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Scripts/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/Scripts/js/jquery.ui.touch-punch.js"></script>
    <script src="/Scripts/js/modernizr.js"></script>
    <script src="/Scripts/js/bootstrap.min.js"></script>
    <script src="/Scripts/js/jquery.cookie.js"></script>
    <script src='/Scripts/js/fullcalendar.min.js'></script>
    <script src='/Scripts/js/jquery.dataTables.min.js'></script>
    <script src="/Scripts/js/excanvas.js"></script>
    <script src="/Scripts/js/jquery.flot.js"></script>
    <script src="/Scripts/js/jquery.flot.pie.js"></script>
    <script src="/Scripts/js/jquery.flot.stack.js"></script>
    <script src="/Scripts/js/jquery.flot.resize.min.js"></script>
    <script src="/Scripts/js/jquery.flot.time.js"></script>
    <script src="/Scripts/js/jquery.chosen.min.js"></script>
    <script src="/Scripts/js/jquery.uniform.min.js"></script>
    <script src="/Scripts/js/jquery.cleditor.min.js"></script>
    <script src="/Scripts/js/jquery.noty.js"></script>
    <script src="/Scripts/js/jquery.elfinder.min.js"></script>
    <script src="/Scripts/js/jquery.raty.min.js"></script>
    <script src="/Scripts/js/jquery.iphone.toggle.js"></script>
    <script src="/Scripts/js/jquery.uploadify-3.1.min.js"></script>
    <script src="/Scripts/js/jquery.gritter.min.js"></script>
    <script src="/Scripts/js/jquery.imagesloaded.js"></script>
    <script src="/Scripts/js/jquery.masonry.min.js"></script>
    <script src="/Scripts/js/jquery.knob.modified.js"></script>
    <script src="/Scripts/js/jquery.sparkline.min.js"></script>
    <script src="/Scripts/js/counter.min.js"></script>
    <script src="/Scripts/js/raphael.2.1.0.min.js"></script>
    <script src="/Scripts/js/justgage.1.0.1.min.js"></script>
    <script src="/Scripts/js/jquery.autosize.min.js"></script>
    <script src="/Scripts/js/retina.js"></script>
    <script src="/Scripts/js/jquery.placeholder.min.js"></script>
    <script src="/Scripts/js/wizard.min.js"></script>
    <script src="/Scripts/js/core.min.js"></script>
    <script src="/Scripts/js/charts.min.js"></script>
    <script src="/Scripts/js/custom.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var _url = window.location.href;
            var paramStr = _url.split('?')[1].split('=');
            var travelId = paramStr[1];
            var loginInfo = JSON.parse(localStorage.getItem('loginInfo'));
            var managerItem = `
                <span class="hello" > Welcome!</span >
                <span class="managerName">${loginInfo.name}</span >`;
            $(".user").html(managerItem);//要刷新的div

            getTravelInfo(travelId);

            function getTravelInfo(travelId) {
                $.ajax({
                    url: "@Url.Action("getTravelInfo", "Travel")",
                    type: "POST",
                    data: JSON.stringify({travelId: travelId}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSON",
                    success: function (data) {
                        var travelInfo = data.data;
                        $(".travelCode").text(travelInfo.travelCode);
                        $(".travelName").text(travelInfo.travelName);
                        $(".travelContent").text(travelInfo.travelContent);
                        $(".travelCost").text(travelInfo.travelCost);
                        $(".travelNum").text(travelInfo.travelNum);
                        $(".travelStepCount").text(travelInfo.travelStepCount);
                        $(".travelDetailSdate").text(travelInfo.travelDetailSdate);
                        $(".transportationInfo").text(travelInfo.travelCostInfo.transportationInfo);
                        $(".eatInfo").text(travelInfo.travelCostInfo.eatInfo);
                        $(".liveInfo").text(travelInfo.travelCostInfo.liveInfo);
                        $(".actionInfo").text(travelInfo.travelCostInfo.actionInfo);
                        $(".insuranceInfo").text(travelInfo.travelCostInfo.insuranceInfo);
                        $(".nearInfo").text(travelInfo.travelCostInfo.nearInfo);
                        var travelDetailHtml = getTravelDetailList(data.data.travelStepList);
                        $("#travelDetailList").html(travelDetailHtml);//要刷新的div
                    }
                })
            }

            function getTravelDetailList(data) {
                let travelDetailHtml = '';
                data.forEach(item => {
                    var showTime = item.travelStime + "~" + item.travelEtime;
                    travelDetailHtml += `
                        <tr>
						    <td class="center" id="travelStepRowId">${ item.travelStepId }</td>
						    <td class="center">${ item.travelStepCode }</td>
                            <td class="center">${ showTime }</td>
                            <td class="center"></td>
							<td class="center" width="20%">
								<a class="btn btn-info" id="getTravelSeatInfo">
									<i class="icon-eye-open "></i>
								</a>
								<a class="btn btn-danger" id="deleteTravelDetail">
									<i class="icon-trash "></i>
								</a>
							</td>
					    </tr>`;
                });
                return travelDetailHtml;
            }

            function convert2canvas() {
                //var shareContent = $("#travelSeatInfoModal");
                var shareContent = $(".multiple_day_travel_list_box");
                html2canvas(shareContent, {
                    onrendered: function (canvas) {

                        var pdf = new jsPDF('p', 'mm', 'a4');//A4 paper, portraitΩ

                        var ctx = canvas.getContext('2d'),
                            a4w = 190, a4h = 257,//A4 size, 210mm x 297mm, 10 mm margin on each side, display area 190x277

                            imgHeight = Math.floor(a4h * canvas.height / a4w),//Convert pixel height of one page image to A4 display scale

                            renderedHeight = 0;

                        //var logo = document.getElementById("#travelSeatInfoModal");//Icon placed in header

                        while (renderedHeight < canvas.height) {
                            var page = document.createElement("canvas");
                            page.width = canvas.width;
                            page.height = Math.min(imgHeight, canvas.height - renderedHeight);//Maybe less than one page

                            //Trim the specified area with getImageData and draw it into the canvas object created earlier
                            page.getContext('2d').putImageData(ctx.getImageData(0, renderedHeight, canvas.width, Math.min(imgHeight, canvas.height - renderedHeight)), 0, 0);

                            //Add an image to the page with a 10 mm / 20 mm margin
                            pdf.addImage(page.toDataURL('image/jpeg', 1.0), 'JPEG', 10, 10, a4w, Math.min(a4h, a4w * page.height / page.width));
                            //pdf.addImage(page.toDataURL('image/jpeg', 1.0), 'JPEG', 10, 10, a4w, Math.min(a4h, a4w * page.height / page.width));
                            pdf.internal.scaleFactor = 5;

                            //Add header logo
                            //pdf.addImage(logo, 'PNG', 5, 3);

                            renderedHeight += imgHeight;
                            if (renderedHeight < canvas.height)
                                //Add an empty page if there is more to follow
                                pdf.addPage();

                            delete page;
                        }

                        pdf.save('content.pdf');
                    }
                });
            }

            // 定位座位資訊 API 模塊
            function getTravelSeatInfo(_travelStepId = "") {
                $.ajax({
                    url: "@Url.Action("getTravelReservationSeatList", "TravelDetail")",
                    type: "POST",
                    data: JSON.stringify({ travelStepId: _travelStepId}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSON",
                    success: function (tripReservationSeatInfo) {

                        var travelStepCode = tripReservationSeatInfo.travelStep;

                        var travelStepId = tripReservationSeatInfo.travelStepId;

                        var reservationSeatList = tripReservationSeatInfo.reservationSeatList;

                        var reservationSeatContent = "";  // 定位座位資訊

                        var reservationTransportationContent = "";   // 定位車次資訊

                        var reservationTransportationTab = "";   // 定位車次標籤資訊

                        var reservationTransportationContentNew = "";   // 定位車次標籤資訊

                        var transportationIdArr = [];

                        reservationTransportationTab += `<ul class="tour_bus_choose_box clearfix">`;
                        $.each(reservationSeatList, function (reservationSeatIndex, reservationSeatInfo) {
                            var seatList = reservationSeatInfo.reservationSeatList;
                            var useStatus = reservationSeatInfo.useStatus;
                            var transportationStep = reservationSeatInfo.transportationStep;
                            var transportationId = reservationSeatInfo.transportationId;
                            var transportationCode = reservationSeatInfo.transportationCode;

                            if (useStatus == 1) {
                                if (transportationIdArr.length == 0) {
                                    transportationIdArr.push(transportationStep);
                                    reservationTransportationTab += `<li class="tab-link tour_bus_seat_btn tab_current"><a href="#tab_${transportationStep}">遊覽車車次${transportationStep}車牌${transportationCode}</a></li>`;
                                    reservationSeatContent += `<div id="tab_${transportationStep}" class="tour_bus_seat_map tab_content tab_content_${transportationStep} tour_bus_seat_current clearfix" style="display: block">`;
                                } else {
                                    reservationTransportationTab += `<li class="tab-link tour_bus_seat_btn"><a href="#tab_${transportationStep}">遊覽車車次${transportationStep}車牌${transportationCode}</a></li>`;
                                    reservationSeatContent += `<div id="tab_${transportationStep}" class="tour_bus_seat_map tab_content tab_content_${transportationStep} clearfix" style="display: none">`;
                                }

                                // 整理車次

                                reservationTransportationContent += `<li class="booking_list_title">車次</li>`;
                                reservationTransportationContent += `<li>第${transportationStep}車</li>`;

                                // 定位座位資訊

                                $.each(seatList, function (seatIndex, seatInfo) {
                                    var seatId = seatInfo.seatId;
                                    var seatName = seatInfo.seatName;
                                    var seatStatus = seatInfo.seatStatus;
                                    var memberPhone = (seatInfo.memberPhone == "" ? "----------" : seatInfo.memberPhone);
                                    var locationBoardingDatetime = (seatInfo.locationName == "" ? "----------" : seatInfo.locationName + seatInfo.boardingDatetime);
                                    var memberName = (seatInfo.memberName == "" ? "------" : seatInfo.memberName);
                                    var seatPos = seatIndex + 1;
                                    if (seatIndex < 24) {
                                        if (seatIndex == 0) {
                                            reservationSeatContent += `<div class="tour_bus_seat_left_box">`;
                                        }
                                        if (seatIndex % 2 == 0) {
                                            reservationSeatContent += `<div class="tour_bus_seat_left clearfix">`;
                                        }
                                        if (seatStatus == 0) {
                                            reservationSeatContent += `<div class="tour_bus_seat disabled_seat">${seatName}(${seatPos})<br> ${memberName}<br> ${locationBoardingDatetime} <br> ${memberPhone}<input type="hidden" id="seatId" value="${transportationStep}:${transportationId}:${seatId}:${travelStepId}:${seatName}:${memberName}"></div>`;
                                        } else {
                                            reservationSeatContent += `<div class="tour_bus_seat">${seatName}(${seatPos})<br> ${memberName}<br> ${locationBoardingDatetime} <br> ${memberPhone}<input type="hidden" id="seatId" value="${transportationStep}:${transportationId}:${seatId}:${travelStepId}:${seatName}:${memberName}"></div>`;
                                        }
                                        if (seatIndex % 2 == 1) {
                                            reservationSeatContent += `</div>`;
                                        }
                                        if (seatIndex == 23) {
                                            reservationSeatContent += `</div>`;
                                        }
                                    } else if (seatIndex >= 24 && seatIndex < 43) {
                                        if (seatIndex == 24) {
                                            reservationSeatContent += `<div class="tour_bus_seat_right_box">
                                    <div class="tour_bus_seat_right">
                                        <div class="tour_bus_safe_door"><br>座位車頭區<br><br></div>
                                    </div>
                                    <div class="tour_bus_seat_right">
                                        <div class="tour_bus_safe_door"><br>前門<br><br></div>
                                    </div>`;
                                        }
                                        if (seatIndex % 2 == 0) {
                                            if (seatIndex == 34) {
                                                reservationSeatContent += `
                                   <div class="tour_bus_seat_right">
                                         <div class="tour_bus_safe_door"><br>後門<br><br></div>
                                   </div>`;
                                            }
                                            reservationSeatContent += `<div class="tour_bus_seat_right clearfix">`;
                                        }
                                        if (seatStatus == 0) {
                                            reservationSeatContent += `<div class="tour_bus_seat disabled_seat">${seatName}(${seatPos})<br> ${memberName}<br> ${locationBoardingDatetime} <br> ${memberPhone}<input type="hidden" id="seatId" value="${transportationStep}:${transportationId}:${seatId}:${travelStepId}:${seatName}:${memberName}"></div>`;
                                        } else {
                                            reservationSeatContent += `<div class="tour_bus_seat">${seatName}(${seatPos})<br> ${memberName}<br> ${locationBoardingDatetime} <br> ${memberPhone}<input type="hidden" id="seatId" value="${transportationStep}:${transportationId}:${seatId}:${travelStepId}:${seatName}:${memberName}"></div>`;
                                        }
                                        if (seatIndex % 2 == 1) {
                                            reservationSeatContent += `</div>`;
                                        }
                                        if (seatIndex == 42) {
                                            reservationSeatContent += `</div>`;
                                        }
                                    }
                                });
                                reservationSeatContent += `</div></div>`;
                            }
                        });
                        reservationTransportationTab += `</ul>`;
                        reservationTransportationContentNew += reservationTransportationTab;
                        reservationTransportationContentNew += reservationSeatContent;
                        $(".multiple_day_travel_list_box").html(reservationTransportationContentNew);
                        $(".travel_transportation").html(reservationTransportationContent);
                    }
                });
            }

            $("#travelDetailList").on('click', '#getTravelSeatInfo', function () {
                console.log("travelSeatInfoModal");
                var travelStepId = $(this).closest("tr")
                    .find("#travelStepRowId")
                    .text();
                getTravelSeatInfo(travelStepId);
                $("#travelSeatInfoModal").addClass("in");
                $("#travelSeatInfoModal").attr({ "aria-hidden": "false", style: "display:block;"});
            })

            $("#travelSeatInfoModal").on('click', '#closeTravelSeatInfo', function () {
                $("#travelSeatInfoModal").removeClass("in");
                $("#travelSeatInfoModal").attr({ "aria-hidden": "true", style: "display:none;" });
            })

            $("#travelSeatInfoModal").on('click', '#downloadTravelSeatInfo', function () {
                convert2canvas();
            })

            $(".multiple_day_travel_list_box").on('click', '.tour_bus_seat', function () {
                console.log("tourBusTest");
                var value = $(this).find("input").val();
                var valueArr = value.split(':');
                var seatId = valueArr[2];
                var travelStepId = valueArr[3];
                var seatName = valueArr[4];
                var memberName = valueArr[5];
                $(".cancelReservationName").val(memberName);
                $(".cancelSeatName").val(seatName);
                $(".cancelSeatId").val(seatId);
                $(".cancelTravelStepId").val(travelStepId);
                var msg = "你確定要取消乘客：" + memberName + " 座位：" + seatName + "的訂位嗎？";
                var yes = confirm(msg);

                if (yes) {
                    cancelReservation(seatId, travelStepId);
                } else {

                }
                //$(checkCancelMemberResrvationModal).parent().css("z-index", 5000);
                //$(checkCancelMemberResrvationModal).addClass("in");
                //$(checkCancelMemberResrvationModal).attr({ "aria-hidden": "false", style: "display:block;" });
            })

            $("#uploadBatchMemberReservation").on('click', function () {
                $("#uploadBatchMemberReservationModal").addClass("in");
                $("#uploadBatchMemberReservationModal").attr({ "aria-hidden": "false", style: "display:block;" });
            })
            $("#uploadBatchMemberReservationModal").on('click', '#closeBatchMemberReservationUpload', function () {
                $("#uploadBatchMemberReservationModal").removeClass("in");
                $("#uploadBatchMemberReservationModal").attr({ "aria-hidden": "true", style: "display:none;" });
            })
            $("#checkCancelMemberResrvationModal").on('click', '#closeCheckCancelMemberReservation', function () {
                $("#checkCancelMemberResrvationModal").removeClass("in");
                $("#checkCancelMemberResrvationModal").attr({ "aria-hidden": "true", style: "display:none;" });
            })

            $(document).on("click", ".multiple_day_travel_list_box ul.tour_bus_choose_box li", function () {
                var hrefTab = $(this).find("a").attr("href");
                var hrefTabArr = hrefTab.split('_');
                const $dayDetailTab = $(this).closest("ul").siblings("#tab_" + hrefTabArr[1]);
                $(".tab_content[class!='tab_content_" + hrefTabArr[1] + "']").hide();
                $(".tab_content_" + hrefTabArr[1]).show();
                $(this).addClass("tab_current selected").siblings().removeClass("tab_current selected");
            });

            $("#uploadBatchMemberReservationModal").on('click', '#uploadBatchMemberReservation', function(){
                var data = new FormData();
                var uploadBatchMemberReservationFile = $(".uploadBatchMemberReservationFile").get(0).files;
                data.append("excelFile", uploadBatchMemberReservationFile[0]);
                data.append("excelModule", "memberReservation");
                $.ajax({
                    url: "@Url.Action("ImportFromExcel", "ExcelBatchUpload")",
                    type: "POST",
                    data: data,
                    dataType: "JSON",
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        alert(data.reason);
                        if (data.success == 1) {
                            $("#uploadBatchMemberReservationModal").removeClass("in");
                            $("#uploadBatchMemberReservationModal").attr({ "aria-hidden": "true", style: "display:none;" });
                            var url = '@Url.Action("Index", "TravelDetail")';
                            window.location.href = url;
                        }
                    }
                })
            })

            function cancelReservation(_seatId = "", _travelStepId = "") {
                $.ajax({
                    url: "@Url.Action("cancelReservationBySystem", "Reservation")",
                    type: "POST",
                    data: JSON.stringify({ seatId: _seatId, travelStepId :_travelStepId }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSON",
                    success: function (data) {
                        alert(data.reason);
                        if (data.success == 1) {
                            $("#travelSeatInfoModal").removeClass("in");
                            $("#travelSeatInfoModal").attr({ "aria-hidden": "true", style: "display:none;" });
                            var url = '@Url.Action("Index", "Travel")';
                            window.location.href = url;
                        }
                    }
                })
            }
        });

    </script>
    <!-- end: JavaScript-->
</body>
</html>